@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@-webkit-keyframes h-show {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes h-show {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

/* Apply the animation to the specified class */
.animate-fadeIn {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  animation: h-show 0.6s ease-out 2s 1 forwards;
  -webkit-animation: h-show 0.6s ease-out 2s 1 forwards;
  top: -20px;
}

.full-slide {
  width: 100%;
  text-align: left;
  position: relative;
  overflow: hidden;
}
.full-slide ul {
  top: 50%;
  left: 50%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}
.full-slide ul li {
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  position: absolute;
}
.full-slide ul li img {
  width: 100%;
  /*transition:all 12s ease;
-webkit-transition: all 12s;
-moz-transition: all 12s;*/
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.full-slide a {
  cursor: default;
}

.full-slide ul li img {
  animation: slide-noact 20s ease-out 1 normal;
  -webkit-animation: slide-noact 20s ease-out 1 normal;
}

@-webkit-keyframes slide-noact {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes slide-noact {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}

.full-slide ul li.mainActive img {
  animation: slide-act 10s ease-out 1 normal;
  -webkit-animation: slide-act 10s ease-out 1 normal;
}

@-webkit-keyframes slide-act {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes slide-act {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@layer components {
  .header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
  }
  .headerLink {
    @apply cursor-not-allowed text-sm font-light text-[#e5e5e5] transition duration-300 hover:text-[#b3b3b3];
  }
  .bannerButton {
    @apply cursor-pointer flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }
  .modalButton {
    @apply flex h-11 w-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition hover:border-white hover:bg-white/10;
  }
  .input {
    @apply w-full rounded bg-[#333] px-5 py-3.5 placeholder-[gray] outline-none focus:bg-[#454545];
  }
  .planBox {
    @apply relative mx-1.5 flex items-center justify-center h-20 bg-[#e50914] w-[calc(100%/3)] cursor-default rounded-sm font-semibold shadow after:absolute after:top-full after:left-1/2 after:block after:-translate-x-1/2 after:border-8 after:border-b-0 after:border-transparent after:border-t-[#e50914] md:h-32 lg:mx-8;
  }
  .tableRow {
    @apply flex flex-wrap items-center font-medium;
  }
  .tableDataTitle {
    @apply w-full p-2.5 text-center text-sm font-normal text-white md:w-2/5 md:p-3.5 md:text-left md:text-base;
  }
  .tableDataFeature {
    @apply w-[calc(100%/3)] p-2.5 text-center md:w-[calc(60%/3)] md:p-3.5;
  }
  .membershipLink {
    @apply cursor-not-allowed text-blue-500 hover:underline;
  }

  .mainMenu {
    @apply md:hidden;
  }

  .mainMenu .MuiPaper-root {
    @apply !absolute !left-0 !rounded-none !border !border-[gray] !bg-black !text-white;
  }

  .mainMenu .MuiList-root {
    @apply !p-0;
  }

  .mainMenu .MuiMenuItem-root {
    @apply !block !w-72 !py-3.5 !text-center !text-sm !font-light !text-[#b3b3b3] !transition !duration-200 first:cursor-default first:!font-normal first:!text-white hover:!bg-[#11100F];
  }
}
.slide {
  height: 70%;
  overflow: hidden;
  position: relative;
  background-color: "#000";
}
.slide > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  animation: slide 20s infinite;
  opacity: 0;
}
.slide > div:nth-child(2) {
  animation-delay: 5s;
}
.slide > div:nth-child(3) {
  animation-delay: 10s;
}
.slide > div:nth-child(4) {
  animation-delay: 15s;
}
.slide > div:nth-child(5) {
  animation-delay: 20s;
}

@keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
  }
}
